In [105]:
from pandas import * 
from datetime import *
from numpy import *

In [106]:
f=pd.read_csv(r"Desktop\new1.csv",names=['Sr. No.','POSITION','DOB','FLAG','GENDER','DOJ'],header=0)
f.head()

   Sr. No.                       POSITION         DOB FLAG GENDER         DOJ
0        1                             e4   1/29/1969    S      f   1/14/2009
1        2  Vice President of Engineering  08-01-1971    S      F   1/31/2008
2        3            Engineering Manager  11-12-1974    M      M  11-11-2007
3        4           Senior Tool Designer  12/23/1974    S      M  12-05-2007
4        5               Design Engineer1   9/27/1952    M      F  01-06-2008

In [113]:
today=to_datetime('today')
f['DOB']=to_datetime(f['DOB'])
AG=(today-f['DOB'])/timedelta64(1,'Y')
f['Age']=round(AG)
f['DOJ']=to_datetime(f['DOJ'])
Exp=(today-f['DOJ'])/timedelta64(1,'Y')
f['Experience']=round(Exp)
f['Seniority']=f[f['Experience']>=10]
f

,Sr. No.,POSITION,DOB,FLAG,GENDER,DOJ,Age,Experience,Seniority
0,1,e4,1969-01-29,S,f,2009-01-14,50.0,10.0,1
1,2,Vice President of Engineering,1971-08-01,S,F,2008-01-31,48.0,11.0,2
2,3,Engineering Manager,1974-11-12,M,M,2007-11-11,45.0,12.0,3
3,4,Senior Tool Designer,1974-12-23,S,M,2007-12-05,44.0,12.0,4
4,5,Design Engineer1,1952-09-27,M,F,2008-01-06,67.0,11.0,5
5,6,Design Engineer1,1959-03-11,M,M,2008-01-24,60.0,11.0,6
6,7,Research and Development Manager,1987-02-24,M,M,2009-02-08,32.0,10.0,7
7,8,Research and Development Engineer,1986-06-05,S,F,2008-12-29,33.0,10.0,8
8,9,Research and Development Engineer,1979-01-21,M,F,2009-01-16,40.0,10.0,9
9,10,Research and Development Manager,1984-11-30,M,M,2009-05-03,35.0,10.0,10
10,11,Senior Tool Designer,1978-01-17,S,M,2010-12-05,41.0,9.0,NaN
11,12,Tool Designer,1959-07-29,M,M,2007-12-11,60.0,12.0,12
12,13,Tool Designer,1989-05-28,M,F,2010-12-23,30.0,8.0,NaN
13,14,Senior Design Engineer,1979-06-16,S,M,2010-12-30,40.0,8.0,NaN
14,15,Design Engineer1,1961-05-02,M,F,2011-01-18,58.0,8.0,NaN
15,16,Marketing Manager,1975-03-19,S,M,2007-12-20,44.0,11.0,16
16,17,Marketing Assistant,1987-05-03,S,M,2007-01-26,32.0,12.0,17
17,18,Marketing Specialist,1978-03-06,S,M,2011-02-07,41.0,8.0,NaN
18,19,Marketing Assistant,1978-01-29,S,F,2011-02-14,41.0,8.0,NaN
19,20,Marketing Assistant,1975-03-17,M,F,2011-01-07,44.0,8.0,NaN
20,21,Marketing Specialist,1986-02-04,M,M,2009-03-02,33.0,10.0,21
21,22,Marketing Specialist,1987-05-21,S,M,2008-12-12,32.0,11.0,22
22,23,Marketing Specialist,1962-09-13,M,F,2009-01-12,57.0,10.0,23
23,24,Marketing Specialist,1979-06-18,M,F,2009-01-18,40.0,10.0,24
24,25,Vice President of Production,1983-01-07,S,M,2009-02-03,36.0,10.0,25
25,26,Production Control Manager,1982-11-03,M,M,2008-12-01,37.0,11.0,26
26,27,Production Supervisor - WC60,1956-10-08,S,F,2008-02-27,63.0,11.0,27
27,28,Production Technician - WC60,1988-03-13,M,M,2006-06-30,31.0,13.0,28
28,29,Production Technician - WC60,1979-09-25,S,M,2009-01-23,40.0,10.0,29
29,30,Production Technician - WC60,1989-09-28,M,F,2009-01-29,30.0,10.0,30
...,...,...,...,...,...,...,...,...,...
260,261,Purchasing Assistant,1978-01-17,M,M,2010-12-25,41.0,8.0,NaN
261,262,Assistant to the Chief Financial Officer,1964-06-21,S,M,2009-01-12,55.0,10.0,262
262,263,Information Services Manager,1975-12-13,S,F,2008-12-11,44.0,11.0,263
263,264,Network Manager,1984-03-25,S,F,2009-02-04,35.0,10.0,264
264,265,Network Administrator,1977-03-27,S,M,2008-12-04,42.0,11.0,265
265,266,Network Administrator,1980-05-28,S,M,2009-02-23,39.0,10.0,266
266,267,Application Specialist,1978-05-19,S,F,2009-02-16,41.0,10.0,267
267,268,Application Specialist,1988-03-13,S,M,2009-02-03,31.0,10.0,268
268,269,Application Specialist,1987-05-26,M,M,2009-01-11,32.0,10.0,269
269,270,Database Administrator,1975-05-17,S,M,2009-01-17,44.0,10.0,270
270,271,Database Administrator,1976-01-06,M,M,2009-01-22,43.0,10.0,271
271,272,Application Specialist,1985-01-30,M,F,2008-12-23,34.0,10.0,272
272,273,Vice President of Sales,1977-06-06,S,M,2011-02-15,42.0,8.0,NaN
273,274,North American Sales Manager,1951-10-17,M,M,2011-01-04,68.0,8.0,NaN
274,275,Sales Representative,1968-12-25,S,M,2011-05-31,50.0,8.0,NaN
275,276,Sales Representative,1980-02-27,M,F,2011-05-31,39.0,8.0,NaN
276,277,Sales Representative,1962-08-29,S,F,2011-05-31,57.0,8.0,NaN
277,278,Sales Representative,1975-02-04,M,M,2011-05-31,44.0,8.0,NaN
278,279,Sales Representative,1974-01-18,M,M,2011-05-31,45.0,8.0,NaN
279,280,Sales Representative,1974-12-06,S,F,2011-05-31,45.0,8.0,NaN
280,281,Sales Representative,1968-03-09,M,M,2011-05-31,51.0,8.0,NaN
281,282,Sales Representative,1963-12-11,M,M,2011-05-31,56.0,8.0,NaN
282,283,Sales Representative,1974-02-11,S,M,2011-05-31,45.0,8.0,NaN
283,284,Sales Representative,1978-01-05,M,M,2012-09-30,41.0,7.0,NaN
284,285,Pacific Sales Manager,1975-01-11,M,M,2013-03-14,44.0,6.0,NaN
285,286,Sales Representative,1977-02-14,S,F,2013-05-30,42.0,6.0,NaN
286,287,European Sales Manager,1957-09-20,M,F,2012-04-16,62.0,7.0,NaN
287,288,Sales Representative,1975-07-09,S,F,2013-05-30,44.0,6.0,NaN
288,289,Sales Representative,1968-03-17,M,F,2012-05-30,51.0,7.0,NaN
289,290,Sales Representative,1975-09-30,S,M,2012-05-30,44.0,7.0,NaN